<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
</head>
<body>
    <h1>Halo, apa kabar?</h1>
    <div class="form-group">
        <label>Input status</label>
        <form method="POST" action="{% url 'story6App:tambahStatus' %}" required>
                {% csrf_token %}
                {{ form.status }}
                <button type="submit" class="" id="submit">Submit</button>
        </form>
        
    </div>
    {% for i in list_status %}
        <p>{{ i.status }} || {{ i.waktuInput }}</p>
    {% endfor %}

</body>
</html>